* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    padding: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.logo img {
    padding-right: 5px;
}
.logo h1 {
    padding-bottom: 6px;
}

.navbar ul li {
    display: inline-block;
    align-items: right;
    font-size: 18px;
    list-style: none;
    padding: 10px;
    font-weight: 50;
    
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    
}

.light-text {
    color: rgb(148, 148, 148);
}
